@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
}

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
  .scrollbar-none {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
}

/* tailwind.css or global.css */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: #1f1f29; /* match card bg */
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #915EFF; /* purple highlight */
  border-radius: 9999px;
}

