@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
}

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
  .scrollbar-none {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
}
